*.*
!.gitignore

# C files
!*.c
!*.h

# hex files
!*.hex

# Project files
!*.uvprojx
!*.uvoptx

# Various files
!*.xml

# Segger Studio files
!*.emProject
!*.emSession

# CLion files
!CMakeLists.txt
!linker_nrf51.ld
!linker_nrf52.ld
!toolchain.cmake
!*.sh
!.idea/workspace.xml

# Folders
build/Debug/


!*.png
