*.*
*.uvguix.*
!.gitignore

# C files
!*.c
!*.h

# hex files
!*.hex

# Project files
!*.uvprojx
!*.uvoptx

# Various files
!*.md
!*.xml

# Segger Studio files
!*.emProject
!*.emSession

# CLion files
!CMakeLists.txt
!linker.ld
!toolchain.cmake
!*.jlink

# Folders
*/_build/
*/armgcc/
*/iar/
*/Output/
build/Debug/
s130_nrf51_2.0.0_softdevice.hex

upload.jlink
